{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="jumbotron" align=center>
  <img id="tree" src="{% static "/images/geometric_tree.jpg" %}" alt="Uh oh, didn't show!"></img>
  <hr class="my-4">
  <h2>請登入使用者 Please Login!</h2>

  <form action="{% url 'basic_app:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username">帳號Username:</label>
    <input type="text" name="username" placeholder="Enter Username">
    <label for="password">密碼Password:</label>
    <input type="password" name="password" placeholder="Enter Password">
    <input type="submit" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" name="" value="Login">
  </form>

</div>
{% endblock %}
